:root {
    --primary-color: #386150;
    --secondary-color: #FFFFFF;
    --dark-color: #2B6169;
    --light-color: #2B6169;
    --light-green-color: #2B6169;
    ;
    --max-width: 1100px;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #01180b4f;
    /*box-shadow: inset 0 0 5px rgba(251, 255, 253, 0.2); */
    border-radius: 0 10px 10px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: var(--dark-color); */
    background-color: #46795b34;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        /* background: var(--dark-color); */
        background-color: #67a38034;
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.green-shadow {
    /*  box-shadow: 0 8px 32px 0 rgba(4, 54, 23, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(2, 29, 14, 0.031);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255, 255, 255, 0.13) solid;
}

.dark-shadow {
    /*  box-shadow: 0 8px 32px 0 rgba(2, 0, 0, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18)*/
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(242, 242, 242, 0.062);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255, 255, 255, 0.041) solid;
}

.glow:hover {
    transition: ease-in-out 1000ms;
    box-shadow: 0 8px 32px 0 rgba(4, 54, 23, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    -webkit-box-shadow: 0px 0px 88px 39px #1f41465b;
    -moz-box-shadow: 0px 0px 88px 39px #1f41465b;
    box-shadow: 0px 0px 10px 10px #1f41465b;
    background-color: rgba(0,210,161,0.24);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    color: var(--secondary-color);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* background-color: var(--primary-color);
    background-image: linear-gradient(180deg, rgba(9, 54, 55, 0.2) 4.1%, rgba(132, 205, 199, 0.2) 50.85%, rgba(68, 160, 141, 0.2) 94.63%);
   background-color: black;*/
    background: hsla(187, 56%, 12%, 1);
    background: radial-gradient(circle at -100% -100%, hsla(187, 56%, 12%, 1) 0%, hsla(188, 42%, 29%, 1) 0%, rgb(3, 24, 27) 100%);
    background: -moz-radial-gradient(circle at -100% -100%, hsla(187, 56%, 12%, 1) 0%, hsla(188, 42%, 29%, 1) 0%, rgb(7, 31, 34) 100%);
    background: -webkit-radial-gradient(circle at -100% -100%, hsla(187, 56%, 12%, 1) 0%, hsla(188, 42%, 29%, 1) 0%, rgb(7, 31, 34) 100%);
    display: flex;
    flex-direction: column;
}

section {
    min-height: calc(100vh - 200px);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 60px;
    background-color: #142f32;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

section {
    flex: 1;
}

.btn {
    font-size: 18px;
    padding: 0.5rem 1rem;
    border-radius: 26px;
    transition: 1000ms ease;
}

    .btn:hover {
        box-shadow: 0 8px 32px 0 rgba(2, 0, 0, 0.37);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 0px;
        transition: 1000ms ease;
        -webkit-backdrop-filter: blur( 6.5px );
        -webkit-box-shadow: 0px 0px 88px 39px #1f41465b;
        -moz-box-shadow: 0px 0px 88px 39px #1f41465b;
        box-shadow: 0px 0px 10px 10px #1f41465b;
    }

.btn-dark {
    background-color: var(--dark-color);
    color: #e7e7e7;
}

.btn-light {
    /* background-color: #BB8A52;*/
    color: var(--secondary-color);
    background-color: #b6936b;
    background-color: var(--light-green-color);
}

.btn-border {
    /* background-color: #BB8A52;*/
    border: white 2px solid;
}

.btn-border-dark {
    /* background-color: #BB8A52;*/
    border: white 1.5px solid;
}

.back-btn {
    justify-content: right;
    width: 90%;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

/*FORM*/

input[type=number] {
    padding: 0.5rem 1rem;
    color: #021f06ef;
    /*background-color: var(--secondary-color);*/
    border: hidden;
    border-radius: 26px;
    transition: 1000ms ease;
}

input[type=text] {
    padding: 0.5rem 1rem;
    color: #021f06ef;
    background-color: var(--secondary-color);
    border: hidden;
    border-radius: 26px;
    transition: 1000ms ease;
}

input[type=password] {
    padding: 0.5rem 1rem;
    color: #021f06ef;
    background-color: var(--secondary-color);
    border: hidden;
    border-radius: 26px;
    transition: 1000ms ease;
}

input[type=submit] {
    padding: 0.5rem 1rem;
    color: var(--secondary-color);
    background-color: var(--light-green-color);
    border: hidden;
    border-radius: 26px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba(7, 51, 22, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 20px;
    /*border: 1px solid rgba(255, 255, 255, 0.18)*/
}

a {
    color: var(--secondary-color);
}

/*nav*/

.main-nav {
    display: flex;
    /* border-bottom: solid white 1px;
    border-left: solid white 0.5px;*/
    color: #ffffff;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /*  background-color: #bb8a52;*/
    background-color: #79a56c56;
    background-color: #142f32;
    box-shadow: 0 8px 32px 0 rgba(3, 19, 9, 0.336);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border-radius: 0px 0px 0px 40px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

    .main-nav .container {
        width: var(--max-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
    }

    .main-nav .logo {
        font-size: 20px;
        font-weight: 400;
        margin: 1rem 2rem;
        color: var(--dark-color);
    }

    .main-nav ul {
        display: flex;
        font-size: 12px;
        margin: 1rem 3rem;
        align-items: center;
        justify-content: space-between;
    }

        .main-nav ul li {
            margin-left: 2rem;
        }

.tittle-container h1 {
    font-size: 45px;
    margin-top: 1rem;
}

.under-tittle-container {
    width: 100%;
    padding-top: 2.5rem;
    font-size: 30px;
    text-align: center;
}

#glowny {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 7rem;
}

    #glowny .start {
        width: 498px;
        height: 375px;
    }


        #glowny .start h1 {
            font-size: 62px;
            color: #FFFFFF;
            margin-left: 2rem;
        }

        #glowny .start .przyciski {
            margin-left: 2rem;
            margin-top: 2rem;
        }

            #glowny .start .przyciski a {
                margin-right: 2rem;
            }

    #glowny .zdjecia {
        width: 498px;
        height: 375px;
        margin-top: -200px;
    }

        #glowny .zdjecia img {
            width: 100%;
        }

/* first-page */
#basic-add, #add {
    padding: 1rem;
}

    #basic-add img {
        /*width: 60%;*/
        max-width: 60%;
        max-height: 60%;
    }

    #basic-add .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #basic-add .container, #add .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #basic-add .cards-container {
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    #basic-add .card-container {
        width: 250px;
        height: 250px;
        display: absolute;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 30px;
        background-color: transparent;
        transition: all 0.5s ease;
        cursor: default;
    }

        #basic-add .card-container p {
            font-size: 20px;
        }

    #basic-add .card {
        display: flex;
        width: 100%;
        height: 100%;
        background: rgba(34, 36, 35, 0.13);
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 1rem;
        transition: all 0.5s ease;
        cursor: context-menu;
    }

.allow {
    background: rgba(100, 155, 137, 0.13) !important;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #2b616942;
    }

    to {
        box-shadow: 0 0 10px 10px #2b616942;
    }
}

#basic-add .card:hover {
    cursor: pointer;
}

#basic-add .icon {
    height: 100%;
    font-size: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

    #basic-add .icon i {
        color: var(--secondary-color);
        align-self: center;
        justify-self: center;
    }

#basic-add .tittle-card {
    align-self: center;
    justify-self: center;
}

#basic-add .btn-container {
    padding-top: 2rem;
}

#basic-add .btn {
    font-size: 22px;
    margin-top: 1rem;
    display: flex;
    padding: 0.5rem 1rem;
    background-color: var(--dark-color);
    border-radius: 30px;
    justify-content: space-between;
}

    #basic-add .btn i {
        padding-left: 1rem;
    }

/*add item*/

#add .card-container {
    width: 90%;
    /*width: var(--max-width)+10px;
    max-width: var(--max-width)+50px;*/
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card-container .card-tittle ul {
    display: grid;
    padding: 1rem 1rem;
    grid-gap: 2rem;
    grid-template-columns: 3fr 4fr 2fr 2fr;
    justify-content: start;
    align-items: center;
    color: #c59762;
}

    .card-container .card-tittle ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

#add .card-container .card-tittle ul li {
    width: 100%;
    padding: 0rem 1rem;
}

#add .card-container {
    display: flex;
    flex-direction: column;
}

    #add .card-container .all-seperate,
    #add .card-container .all {
        color: var(--secondary-color);
        font-style: var(--primary-color);
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }

    #add .card-container .all-seperate {
        background: none;
        margin-top: 2rem;
    }

.card-container .ul-add {
    background-color: #122a2d;
}

#add .card-container .all-seperate .item,
#add .card-container .ul-add,
#add .card-container .all .item {
    display: grid;
    padding: 1rem;
    grid-gap: 2rem;
    grid-template-columns: 3fr 4fr 2fr 2fr;
    justify-content: start;
    align-items: center;
}

#add-class #add .card-container .all-seperate .item {
    grid-template-columns: 3fr 4fr 1fr;
}

#add-class #add .card-container .ul-add {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: 3fr 4fr;
    justify-content: start;
    align-items: center;
}

#add .card-container .all-seperate .item li,
#add .card-container .ul-add li,
#add .card-container .all .item li {
    width: 100%;
    justify-self: start;
}

#add .card-container .all-seperate .item li,
#add .card-container .all .item li {
    padding-left: 1rem;
}

.all-seperate .item {
    margin: 0;
    background: none;
    text-decoration: none;
}

button {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 1rem;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
    color: var(--secondary-color);
}

    button:disabled {
        background: #c1ccc5;
        color: var(--dark-color);
    }

    button:hover {
        box-shadow: 0 8px 32px 0 rgba(4, 54, 23, 0.37);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        -webkit-box-shadow: 0px 0px 88px 39px #1f41465b;
        -moz-box-shadow: 0px 0px 88px 39px #1f41465b;
        box-shadow: 0px 0px 10px 10px #1f41465b;
    }

.unhiden_item:hover {
    background-color: #1f4146;
}

#add ul .btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

    #add ul .btn-container .btn {
        justify-self: flex-end;
        margin-left: 0.5rem;
    }

input[type=number] {
    width: 100%;
    max-width: 300px;
}

input[type=text] {
    width: 100%;
    max-width: 400px;
}

input:disabled {
    background: #c1ccc5;
}

input:hover {
    box-shadow: 0 8px 32px 0 rgba(2, 0, 0, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 0px;
    transition: 1000ms ease;
}

input:focus {
    box-shadow: 0 8px 32px 0 rgba(2, 0, 0, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 0px;
    transition: 1000ms ease;
}

#add .btn-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/*kalendarz

.hidden_item input {
    pointer-events: none;
}*/

.hidden_item,
.planner {
    height: max-content;
    grid-column: 1 / span 4;
}

    .hidden_item,
    .planner table {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

        .hidden_item thead tr,
        .planner thead tr {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
        }

        .hidden_item td, .hidden_item th,
        .planner table td, .planner table th {
            text-align: center;
            padding-top: 0.4rem;
            justify-items: center;
            align-items: center;
            align-self: center;
            padding-bottom: 0.4rem;
        }

        .hidden_item tbody tr,
        .planner table tbody tr {
            width: 100%;
            display: grid;
            border-top: dotted rgba(251, 255, 253, 0.2) 0.1px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
        }

#studentList ul:first-child {
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    justify-content: center;
    align-items: center;
}

.panel {
    margin-top: 1rem;
    max-height: 0;
    overflow: hidden;
    border-radius: 30px;
    color: var(--secondary-color);
    background-color: rgba(29, 83, 61, 0.048);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    transition: 1000ms ease max-height;
}

/*uczniowie*/

.addStudent {
    visibility: hidden;
    display: none;
    height: 0;
    width: 100%;
    padding: 0;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.detail p {
    padding-bottom: 6px;
}

.detail {
    padding-bottom: 6px;
}

.ul-add .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addStudent input {
    height: 35px;
}

.studentListContainer .btn-container
.addStudent .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addStudent .btn-container button {
    margin-top: 0;
}

.studentListContainer {
    width: 100%;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 !important;
}

#studentList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    width: 100%;
    border-radius: 26px;
    overflow-y: auto;
}

    #studentList ul {
        margin: 16px;
        padding: 1rem 1rem;
        display: grid;
        grid-template-columns: 2fr 3fr;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }

        #studentList ul:first-child {
            padding: 1rem 1rem;
            display: grid;
            grid-template-columns: 2fr 1fr;
            border: none;
            justify-content: center;
            align-items: center;
        }

.all-seperate {
    background: none;
}

    .all-seperate .studentList {
        max-height: 500px;
        padding: 1rem;
        border-radius: 26px;
        background-color: var(--primary-color);
        overflow-y: auto;
    }

        .all-seperate .studentList ul {
            padding: 1rem 1rem;
            display: grid;
            grid-template-columns: 2fr 3fr;
            border-top: dotted rgba(251, 255, 253, 0.2) 0.1px;
            justify-content: center;
            align-items: center;
        }

.studentList ul:first-child {
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    justify-content: center;
    align-items: center;
}

#submitNewClass {
    visibility: hidden;
}

#add-teachers input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */

    margin: 0 auto;
    font: inherit;
    color: currentColor;
    width: 4em;
    height: 1.5em;
    border: 0.15em solid rgba(2, 0, 0, 0.123);
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    background-color: #095f45;
}

    #add-teachers input[type="checkbox"]::before {
        content: "";
        width: 4em;
        height: 1.5em;
        border-radius: 5px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        /*border: 0.15em solid  rgba(71, 0, 0, 0.973);*/
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: rgba(71, 0, 0, 0.973);
    }

    #add-teachers input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

#liczba {
    visibility: hidden;
}

/*LOGOWANIE*/

#logowanie {
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #logowanie .container-input {
        width: 100%;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logowanie .container-input {
        padding: 2rem;
        height: max-content;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #logowanie .container-input .input-box {
            width: 400px;
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 1fr 2fr;
        }

    #logowanie button {
        margin-top: 2rem;
    }

#choose-class section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#choose-class .all-seperate {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

    #choose-class .all-seperate a {
        display: flex;
        margin: 0 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }

#add-subject .ul-add {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: 5fr 1fr 3fr 2fr !important;
    justify-content: start;
    align-items: center;
}

    #add-subject .ul-add input[type="number"] {
        width: 200px;
    }

    #add-subject .ul-add li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.ul-add li p {
    padding: 10px;
    color: var(--secondary-color);
}

#add-subject .divisionStudent {
    max-height: 0;
    overflow: hidden;
    height: 500px;
    width: 100%;
    grid-column: 1/span 4 !important;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

    #add-subject .divisionStudent .groupName,
    #add-subject .divisionStudent .studentList {
        margin: 0 1rem;
        box-shadow: 0 8px 32px 0 rgba(2, 0, 0, 0.493);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        padding: 1rem;
        overflow-y: auto;
        width: max-content;
        min-width: 250px;
        height: 500px;
    }

    #add-subject .divisionStudent .studentList {
        align-self: flex-start;
        justify-content: flex-start;
    }

        #add-subject .divisionStudent .studentList ul {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

            #add-subject .divisionStudent .studentList ul li {
                display: flex;
                justify-content: center;
                padding: 1rem;
                margin-top: 1.5rem;
            }

                #add-subject .divisionStudent .studentList ul li:first-child {
                    margin-top: 0;
                }

    #add-subject .divisionStudent #groupSubjectList {
        display: grid;
        grid-gap: 15px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        justify-content: center;
        align-items: center;
        height: min-content;
    }

        #add-subject .divisionStudent #groupSubjectList .groupName {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

            #add-subject .divisionStudent #groupSubjectList .groupName li {
                display: flex;
                height: 3rem;
                padding: 1rem;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
            }

            #add-subject .divisionStudent #groupSubjectList .groupName div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

#add-subject .addTeacher .groupDetails {
    width: 400px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
}

#add-subject .divisionStudent #groupSubjectList .groupName .groupDetails {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c1ccc521;
    padding: 1rem;
    border-radius: 10px;
}

    #add-subject .divisionStudent #groupSubjectList .groupName .groupDetails input,
    #add-subject .divisionStudent #groupSubjectList .groupName .groupDetails label {
        margin: 0.5rem 0.5rem;
    }

#add-subject .divisionStudent #groupSubjectList .groupName h4 {
    margin: 0.8rem;
}

#add-subject .btnNext {
    justify-self: center;
    grid-column: 1/span 4;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

    #add-subject .btnNext .btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

#add-subject .addTeacher {
    display: flex;
    align-items: center;
}

    #add-subject .addTeacher input {
        margin: 1rem 0;
    }

#hidden-element {
    visibility: hidden;
}

#add-subject button {
    margin-top: 0 !important;
}

#fillback {
    visibility: collapse;
}

#add-subject .panel {
    background: none;
    background-color: rgba(0, 0, 0, 0.062);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
}

    #add-subject .panel #groupSubjectList {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        overflow-y: auto;
    }

    #add-subject .panel .groupAllInfo {
        max-height: 600px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        margin: 1rem;
        padding: 1rem;
    }

    #add-subject .panel .groupDetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    #add-subject .panel .groupStudents {
        margin-top: 1rem;
        padding: 1rem;
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

        #add-subject .panel .groupStudents div {
            margin-top: 0.5rem;
        }

        #add-subject .panel .groupStudents:first-child {
            margin-top: 0.5rem;
            color: rgb(3, 39, 18);
            background-color: darkblue;
        }

#add-subject .card-container .all-seperate .item {
    display: grid;
    padding: 1rem;
    grid-gap: 2rem;
    grid-template-columns: 4fr 2fr;
    justify-content: start;
    align-items: center;
}

#add-subject .btn-container-center {
    margin-top: 1rem;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.planList {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.planUl {
    width: max-content;
    margin: auto;
    padding: 1rem 3rem;
    background-color: #122a2d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    .planUl .title {
        width: 100%;
    }

    .planDetail{
        width:100%;
    }

.planDetail span {
    margin-right: 200px;
}

.showPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.class {
    padding: 16px 36px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
    align-self: center;
}



.showPlan .class_name {
    font-size: 26px;
    color: #f5fffb;
}

.showPlan .week {
    display: flex;
}

    .showPlan .week ul {
        padding: 6px 16px;
    }

.showPlan .day {
    font-size: larger;
    color: rgba(255, 222, 180, 0.671);
    padding-bottom: 6px;
}

.showPlan .one_detail {
    margin: 16px 0;
    padding: 16px;
    border-radius: 10px;
    background-color: #ffffff13;
}

    .showPlan .one_detail li {
        padding: 6px 0;
    }
