<section id="add">
        <div class="container">

            <div class="card-container">
                <div class="card-tittle">
                    <ul>
                        <li>IMIĘ</li>
                        <li>NAZWISKO</li>
                        <li>ILOŚĆ GODZIN</li>

                    </ul>
                </div>

                <!-- <form action="#">-->
                <ul class="ul-add green-shadow">
                    <li> <input type="text" id="imie" name="imie" value="Imie"></li>
                    <li> <input type="text" id="nazwisko" name="Nazwisko" value="Nazwisko"></li>
                    <li> <input type="number" id="count" name="count" value="1"></li>
                    <li>
                        <div class="btn-container">
                            <input id="addNew" class="btn btn-dark" type="submit" value="DODAJ">
                        </div>
                    </li>
                    <li class="planner">
                        <table id="add-table" class="dark-shadow">
                            <thead>
                                <tr>
                                    <th>Godziny</th>
                                    <th>Poniedziałek</th>
                                    <th>Wtorek</th>
                                    <th>Środa</th>
                                    <th>Czwartek</th>
                                    <th>Piątek</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="8">
                                    <td>8-9</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek" class="myinput large custom"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda" class="myinput large custom"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>

                                </tr>
                                <tr id="9">
                                    <td>9-10</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>


                                </tr>
                                <tr id="10">
                                    <td>10-11</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>

                                </tr>
                                <tr id="11">
                                    <td>11-12</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>


                                </tr>
                                <tr id="12">
                                    <td>12-13</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>

                                </tr>
                                <tr id="13">
                                    <td>13-14</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
                                </tr>
                                <tr id="14">
                                    <td>14-15</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
                                </tr>
                                <tr id="15">
                                    <td>15-16</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
                                </tr>
                                <tr id="16">
                                    <td>16-17</td>
                                    <td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
                                    <td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
                                    <td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
                                    <td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
                                    <td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
                <div class="under-tittle-container">
                    <h6>Dodani nauczyciele</h6>
                </div>
                <div class="all-seperate">
                </div>

                <div class="btn-container-center">
                    <button class="btn btn-dark" @onclick = "HandleAddClass">
                        <p>ZAPISZ</p>
                    </button>
                </div>
                <!--</form>-->
            </div>

        </div>
    </section>