 <section id="add">
        <div class="container">

            <div class="card-container">
                <ul class="ul-add green-shadow">
                    <li> <p>Nazwa: </p> <input class="selectable" type="text" id="nameSubject" name="name" placeholder="name" required></li>
                    <li> <p>Podział: </p> <input id="division" type="checkbox" class="selectable" onchange="divisionOn(this);"></li>
                    <li id="hidden-element"> <p>Ilość grup: </p> <input type="number" class="selectable" id="group"></li>
                    <li>
                        <div class="btn-container">
                            <button id="filldetails" type="submit" class="btn btn-light"> DALEJ </button>
                            <button id="fillback" type="submit" class="btn btn-light"> COFNIJ </button>
                        </div>

                    </li>
                    <li class="addTeacher">

                    </li>
                    <li class="divisionStudent">
                        <div class="studentList">
                        </div>
                        <div id="groupSubjectList">

                        </div>

                    </li>
                    <li class="btnNext">
                        <div class="btn-container">
                            <button id="addSubject" type="submit" class="btn btn-dark">DODAJ PRZEDMIOT</button>
                        </div>
                    </li>
                </ul>
                <div class="under-tittle-container">
                    <h6>Dodane przedmioty</h6>
                </div>
                <div class="all-seperate">

                </div>

                <div class="btn-container-center">
                    <!--<a class="btn btn-dark" href="index.html">-->
                    <button id="submitAllClass" class="btn btn-dark" @onclick="HandleAddSubjectsWithGroups">
                        <p>ZAPISZ</p><a href="index.html"></a>
                    </button>

                </div>
                <!--</form>-->
            </div>
        </div>
    </section>