<AuthorizeView>
    <NotAuthorized>
        @if(true) { NavigationManager.NavigateTo("login"); }
    </NotAuthorized>
</AuthorizeView>

<section>
    @if (!isBusy)
    {
        <div class="all-seperate">
            @foreach (string className in classessNames)
            {
                <div>
                    <a href="/addsubjects/@className" class="button dark-shadow">@className</a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="lds-dual-ring"></div>
    }
</section>