@inject ILocalStorageService Storage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

    <AuthorizeView>
    <NotAuthorized>
    <a href="/login" class="btn btn-border-dark">Logowanie</a>
    <a href="/register" class="btn btn-border-dark mf-5">Rejestracja</a>
       </NotAuthorized>
       <Authorized>
        <a class="btn btn-primary" @onclick="LogOutAsync">Wyloguj się</a>
         </Authorized>             
     </AuthorizeView>                                    


@code {

    private async Task LogOutAsync()
    {
        await Storage.RemoveItemAsync("access_token");

        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Navigation.NavigateTo("/", forceLoad: true); 
    }

    
    }