

    <AuthorizeView>
    <NotAuthorized>
    <a href="/login" class="btn btn-primary">Logowanie</a>
    <a href="/register" class="btn btn-primary mf-5">Rejestracja</a>
       </NotAuthorized>
       <Authorized>
        <a href="#" class="btn btn-primary" onclick="LogOutAsync">Wyloguj się</a>
       <TimetableManagement></TimetableManagement>
         </Authorized>             
     </AuthorizeView>                                    


@code {
    private async Task LogOutAsync()
    {

    }

    
    }