<header class="@ClassName">
    <h1>@Title</h1>
</header>

@code {
    [Parameter]
    public string ClassName { get; set; } = "tittle-container";

    [Parameter]
    public string Title { get; set; } = "Undefined";
    }
