@using UI.Services.Interfaces
@inherits LayoutComponentBase

    <nav class="main-nav">
        <div class="container">
        <div class="logo">
            <h1><a href="/">Strona główna</a></h1>
        </div>                                
        <div class="nav">
           <AuthenticationMenu></AuthenticationMenu>
        </div>
    </div>
    </nav>

    @Body
     
    <footer>
        <p>LOREM IPSUM</p>
    </footer>

    <BlazoredToasts />
