@using UI.Services.Interfaces
@inherits LayoutComponentBase

    <nav class="main-nav">
        <div class="container">
        <div class="logo">
           <a href="/"><img src="image/STG-02.svg" alt=""></a>
        </div>                                
        <div class="nav">
           <AuthenticationMenu></AuthenticationMenu>
        </div>
    </div>
    </nav>

    @Body
     
    <footer>
        <p>2022</p>
    </footer>

    <BlazoredToasts />
