
<section id="add">
     <div class="container">
            <div class="back-btn">
               <a class="btn btn-border" href="3card.html">WRÓĆ</a>
            </div>

            <div class="planList">

                <ul class="planUl green-shadow">
                    <div class="title">
                        <p>DATA WYGENEROWANIA PLANU:</p>
                    </div>

                    <li>
                        <div class="planDetail">
                           <span>2022-11-1</span> 
                            <button class="btn btn-border">PRZEJDŹ</button>
                        </div>
                    </li>
                    <li>
                        <div class="planDetail">
                           <span>2022-11-1</span> 
                            <button class="btn btn-border">PRZEJDŹ</button>
                        </div>
                    </li>
                    <li>
                        <div class="planDetail">
                           <span>2022-11-1</span> 
                            <button class="btn btn-border">PRZEJDŹ</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>