@page "/home"
@using UI.Services.Interfaces

<AuthorizeView>
    <NotAuthorized>
        @if(true) { NavigationManager.NavigateTo("/"); }
    </NotAuthorized>
</AuthorizeView>

<Header Title="Twoja szkoła"></Header>
    <section id="basic-add">
        <div class="container">
            
            <div class="cards-container">
                <CardMenu Link="addteachers" Title="DODAJ NAUCZYCIELI" IconName="teacher-at-the-blackboard.png"></CardMenu>
                <CardMenu Link="addclassrooms" Title="DODAJ SALE" IconName="classroom.png"></CardMenu>
                <CardMenu Link="addclass" Title="DODAJ UCZNIÓW" IconName="class.png"></CardMenu>                             
            </div>
                
             <ChangePhase></ChangePhase>
             
            
        </div>
    </section>

@code{
    [Inject]
    public NavigationManager NavigationManager{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
}