@using Blazored.LocalStorage;

@page "/"

    <Header Title="Twoja szkoła"></Header>
    <section id="basic-add">
        <div class="container">
            
            <div class="cards-container">
                <a class="card-container" href="addteachers">
                    <div class="card green-shadow glow">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="tittle-card">
                            DODAJ NAUCZYCIELI
                        </div>
                    </div>
                </a>
                <a class="card-container" href="addclassrooms">
                    <div class="card green-shadow glow">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="tittle-card">
                            DODAJ SALE
                        </div>
                    </div>
                </a>
                <a class="card-container" href="addclass">
                    <div class="card  green-shadow glow">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="tittle-card">
                            DODAJ UCZNIÓW
                        </div>
                    </div>
                </a>              
            </div>
                
                    <a class="btn dark-shadow" href="#">
                        <p>Prz</p>           
                     <i class="fas fa-users"></i>
              </a>
            
        </div>
    </section>


    


