@using Blazored.LocalStorage;

@page "/"

    <Header Title="Twoja szkoła"></Header>
    <section id="basic-add">
        <div class="container">
            
            <div class="cards-container">
                <CardMenu Link="addteachers" Title="DODAJ NAUCZYCIELI"></CardMenu>
                <CardMenu Link="addclassrooms" Title="DODAJ SALE"></CardMenu>
                <CardMenu Link="addclass" Title="DODAJ UCZNIÓW"></CardMenu>                             
            </div>
                
                    
            
        </div>
    </section>


    


