@page "/login"

<div id="logowanie">
    <header class="tittle-container">
        <h1>Logowanie</h1>
    </header>

       <section>
         <LoginForm>

         </LoginForm> 
</section>
</div>

@code {

}
