@page "/login"

<div id="logowanie">
    <header class="tittle-container">
        <h1>Logowanie</h1>
    </header>

       <section>
         <form action="#">
            <div class="container-input dark-shadow">
                    <div class="input-box">
                        <span class="detail">E-mail</span>
                        <input type="text" placeholder="Podaj e-mail" required>
                    </div>
                    <div class="input-box">
                        <span class="detail">Hasło</span>
                        <input type="text" placeholder="Podaj haslo" required>
                      </div>

                      <button  class="btn btn-dark">
                        ZALOGUJ SIĘ<a href="index.html"></a>
                    </button>
              
            </div>
            </form> 
</section>
</div>

@code {

}
