@page "/register"

    <header class="tittle-container">
        <h1>Rejestracja</h1>
    </header>

    <div id="logowanie">
       <section>
          <RegisterForm>

          </RegisterForm>
   </section>
 </div>

@code {

}
