<section id="add">
        <div class="container">

            <div class="card-container">
                <div class="card-tittle">
                    <ul>
                        <li>KOD</li>
                    </ul>
                </div>
                <ul class="ul-add green-shadow">
                    <li> <input type="text" id="name" name="name" placeholder="Kod"></li>
                    <li>
                        <div class="btn-container">
                            <button class="btn btn-dark" id="addNewClass" type="submit" value="DODAJ"
                            disabled="@isBusy">DODAJ </button>
                        </div>
                    </li>
                    <li class="addStudent dark-shadow">
                        <input type="text" id="imie" placeholder="Imie">
                        <input type="text" id="nazwisko" placeholder="Nazwisko">
                        <div class="btn-container"><button id="addNew" type="submit" class="btn btn-dark"> DODAJ UCZNIA</button></div>
                    </li>
                    <li class="studentListContainer">
                        <div id="studentList">
                           <!--from js-->
                        </div>
                    </li>

                    <li id="liczba">
                        <p>Liczba dodanych uczniów: 0</p>
                    </li>
                    <li>
                        <div class="btn-container"><button id="submitNewClass" type="submit" class="btn btn-dark"> DODAJ KLASĘ </button></div>
                    </li>
                </ul>
                <div class="under-tittle-container">
                    <h6>Dodane klasy</h6>
                </div>
                <div class="all-seperate">
                   
                </div>
                   
                 <div class="btn-container-center">
                    <button @onclick="HandleAddClass" class="btn btn-dark" disabled="@isBusy">
                        <p>ZAPISZ</p>
                    </button>
                </div>

            </div>
        </div>
    </section>
