
<AuthorizeView Context="Register">
    <NotAuthorized>
        <EditForm Model="@_model" OnValidSubmit="@RegisterUser">
            <div class="container-input dark-shadow"> 
                      <div class="input-box">
                            <span class="detail">
                                  Imie
                            </span>
                            <InputText placeholder="Podaj imię" type="text" id="FirstName"
                                  @bind-Value="_model.FirstName" />
                            <span class="field-validation-valid" data-valmsg-for="FirstName"
                                  data-valmsg-replace="true"></span>
                      </div>
                      <div class="input-box">
                            <span class="detail">
                                  Nazwisko
                            </span>
                            <InputText placeholder="Podaj nazwisko" type="text" id="LastName"
                                  @bind-Value="_model.LastName" />
                            <span class="field-validation-valid" data-valmsg-for="LastName"
                                  data-valmsg-replace="true"></span>
                      </div>
                      <div class="input-box">
                            <span class="detail">
                                  E-mail
                            </span>
                            <InputText placeholder="Podaj e-mail" id="Email" type="text" @bind-Value="_model.Email" />
                      </div>
                      <div class="input-box">
                            <span class="detail">Hasło  </span>
                            <InputText type="password" placeholder="Podaj hasło" id="Password"  @bind-Value="_model.Password" />
                          
                      </div>
                      <div class="input-box">
                            <span class="detail">Potwiedź hasło</span>
                            <InputText type="password" placeholder="Potwierdź hasło"  @bind-Value="_model.ConfirmPassword" />               
                      </div>
                      <button  class="btn btn-dark">
                        ZAREJESTRUJ SIĘ<a href="index.html"></a>
                    </button>
                      </div>                                  
               
</EditForm>
    </NotAuthorized>
    <Authorized>
        <h1>Najpierw musisz się wylogować!</h1>
    </Authorized>
</AuthorizeView>





