<section id="add">
        <div class="container">

            <div class="card-container">
                <div class="card-tittle">
                    <ul>
                        <li>KOD</li>
                        <li>NAZWA</li>
                        <li>ILOŚĆ MIEJSC</li>
                    </ul>
                </div>
                    <ul class="ul-add green-shadow">
                        <li> <input type="text" id="kod" name="kod" value="Kod"></li>
                        <li> <input type="text" id="name" name="name" value="Nazwa"></li>
                        <li> <input type="number" id="count" name="count" value="1"></li>
                        <li>
                            <div class="btn-container">
                                <input id="submitNewClassroom" class="btn btn-dark" type="submit" value="DODAJ">
                            </div>
                        </li>
                    </ul>

                    <ul class="all dark-shadow">
                        
                    </ul>

                    <div class="btn-container-center">
                        <button class="btn btn-dark" @onclick = "HandleAddClassrooms">
                        <p>ZAPISZ</p>
                    </button>
                    </div>

            </div>

        </div>
    </section>