<a class="card-container" href="@Link">
	<div class="card  green-shadow glow">
		<div class="icon">
			<img src="image/@IconName" />
		</div>
		<div class="tittle-card">
			@Title
		</div>
		
	</div>
</a>

@code {
	[Parameter]
	public string Link { get; set; }

	[Parameter]
	public string IconName { get; set; }

	[Parameter]
	public string Title { get; set; }
}